aside{
    display: grid;
    grid-template-columns: repeat(2, 40px);
    grid-template-rows: repeat(22, 40px);
    grid-gap: 6.6px;
    justify-content: center;
    padding-top: 6.6px;
    overflow: hidden;


    &:hover{
        overflow-y: auto;
        scrollbar-color: #C8FF00 #C8FF00;
        scrollbar-width: thin;
        scrollbar-gutter: 6.6px;
        padding-right: 6.6px;

        &::-webkit-scrollbar {
            width: 2px;
            background-color: #C8FF00;

            &:hover{
                width: 2px;
                background-color: #C8FF00;
            }
        }

        &::-webkit-scrollbar-thumb{
            background-color: #C8FF00;
            width: 2px;

            &:hover{
                width: 2px;
                background-color: #C8FF00;
            }
        }

    }

    &.tools:hover{
        overflow-y: hidden;
        padding-right: 0;
    }

    & div{
        display: grid;
        place-items: center;
        color:#404040;
        font-size: 20px;
        font-weight: bolder;
        border-radius: 5px;
        background-color: #f5f5f5;

        & div.selected{
            position: absolute;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #fff;
            border: 1px solid rgba(0 0 0 / 36%);
            opacity: 0;
            transform: translate(13px, 10px);

            &.active{
                opacity: 1;
            }
        }

        &.active{
            background-color:#C8FF00;
        }
    }
}