div.cursor{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 3px;
    border: 1px solid rgba(0 0 0 0.674);
    transition: all 0.01s ease-in-out;

    & .cursor-color{
        width: 100%;
        height: 100%;
        opacity: 0.5;
    }

    & .eraser{
        background-color: none;
        border: 1px solid rgba(0 0 0 0.674);
    }

    & .active{
        opacity: 1;
    }
}